{% extends "base.html" %}
{% block content %}
<div class="container main-content {% if search %}search{% endif %}">
    <div class="row">
    <div id="container-wrapper">
    {% if search %}
      <div class="alert alert-info search" role="alert">
        <a href="/" class="close pull-left" data-dismiss="alert" aria-label="Close" data-toggle="tooltip" data-placement="bottom" title="Clear search"><span aria-hidden="true">×</span></a> 
        <span> {{ notes | length }} matching note{{notes | length | pluralize}}</span>
      </div>
      {% else %}
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
           {% include "notes/note-form.html" %}
        </div>
      </div>
      {% endif %}

    <div class="row">
        <div class="col-lg-12" id="container">
            <!-- <div class="grid-sizer"></div> -->
            {% for note in notes %}
                {% include "notes/note-container.html" %}
                {% empty %}
                <div class="no-notes-container">
                    <div class="no-notes text-center">
                        <div class="icon">
                            <i class="mdi-editor-insert-drive-file"></i>
                        </div>
                        {% if search %}
                            <h3>No matching notes.</h3>
                        {% else %}
                            <h3>Your {% if index_type == 'archive' %}archived{% elif index_type == 'pinned' %}pinned{% endif %} notes will appear here.</h3>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div><!-- /#container -->
        </div>
    <div id="dialog"></div>
    </div> <!-- /#container-wrapper -->
    <div id="toolbar">
        <!-- Debug Toolbar -->
    </div><!-- /#toolbar django-debugging -->
</div><!-- /main content -->
{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {
  {% if messages %}
    {% for message in messages %}
    $.snackbar({content: '{{ message }}' });
    {% endfor %}
  {% endif %}
});
</script>
{% endblock %}